.imgRoll1,
.imgRoll3,
.imgRoll5,
.imgRoll7 {
    position: absolute;
    left: 200px;
    top: 45px;
    animation: rollImg1res1 10s infinite;
    z-index: 3;
}

.imgRoll5 {
    animation-delay: 2s;
    left: 180px;
    top: 65px;
}

.imgRoll3 {
    animation-delay: 3s;
    left: 180px;
    top: 85px;
}

.imgRoll2,
.imgRoll4,
.imgRoll6,
.imgRoll8 {
    position: absolute;
    left: 140px;
    top: 80px;
    animation: rollImg2res1 10s infinite;
    z-index: 3;
}

.imgRoll7 {
    animation-delay: 1s;
}

.imgRoll8 {
    animation-delay: 4s;
    left: 150px;
    top: 105px;
}

.imgRoll4 {
    animation-delay: 4.8s;
    scale: 0.8;
    left: 155px;
    top: 145px;
}

.efficiency,
.recipe {
    height: 100%;
}

.firedCount,
.nonFiredCount,
.cpuTemperature,
.gpuTemperature,
.conveyorSpeed,
.motorAmpere,
.airPressure,
.visionTemperature,
.panelTemperature,
.leftCamTemperature,
.rightCamTemperature {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    color: white;
    text-align: center;
}

.polygonText {
    rotate: -30deg;
}

.panelText tspan {
    font-size: small;
}

.firedCount {
    left: 880px;
    bottom: 400px;
    font-size: x-large;
}

.nonFiredCount {
    left: 850px;
    bottom: 400px;
    font-size: x-large;
}

.cpuTemperature {
    top: 25px;
    left: 400px;
    z-index: 5;
}

.gpuTemperature {
    top: 11px;
    left: 420px;
    z-index: 5;
}

.conveyorSpeed {
    width: fit-content;
    font-size: small;
    top: 10px;
    height: 30px;
    z-index: 5;
}

.motorAmpere {
    width: 152px;
    font-size: small;
    left: 860px;
    top: 240px;
    height: 117px;
}

.airPressure {
    font-size: small;
    left: 400px;
    top: 520px;
}

.panelTemperature {
    width: fit-content;
    left: 500px;
    top: 5px;
}

.rightCamTemperature {
    width: fit-content;
    left: 490px;
    top: 340px;
    z-index: 5;
}

.leftCamTemperature {
    width: fit-content;
    left: 700px;
    top: 140px;
    z-index: 5;
}


.machine-top-data {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.machine-top-data>div {
    background-color: #1b2531;
    color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    min-width: 150px;
    flex: 1;
    max-width: 250px;
}

.sukaEjectScale {
    animation: scaleUp 2s forwards;
}

.sukaUndoScale {
    animation: scaleDown 2s forwards;
}

/* .icons1 {
    position: absolute;
    bottom: -70px;
    left: -20px;
    display: flex;
    flex-wrap: wrap;  
    gap: 30px; 
    width: 90%; 
    max-width: 300px; 
    justify-content: center;
    z-index: 5;

    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px; 
    padding: 15px; 
    background: rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(5px); 
}

.icons1 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    width: 60px;  
    height: 60px;
    color: white;
}

.icons1 div img {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.icon-heading {
    position: absolute;
    top: -10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    
}

.icon-text{
    font-size: 14px;
    display: none;
}

.icons1 div:hover .icon-text{
    display: block ;
}
.icons1 div:hover{
    transform: scale(1.1);
} */

.iconsFinal {
    display: none;
}


.imgConveyor,
.imgVision,
.imgMotor,
.imgAirPressure {
    height: 60px;
    width: 60px;
}

.imgCpu,
.imgGpu,
.imgPanel,
.imgCam {
    height: 40px;
    width: 40px;
}

.conveyorIcon {
    position: absolute;
    left: 150px;
    top: -10px;
}

.cpuIcon {
    position: absolute;
    left: 415px;
    top: 195px;
}

.gpuIcon {
    position: absolute;
    left: 459px;
    top: 165px;
}

.panelIcon {
    position: absolute;
    left: 500px;
    top: 140px;
}

.leftCamIcon {
    position: absolute;
    left: 650px;
    top: 80px;
}

.rightCamIcon {
    position: absolute;
    left: 740px;
    top: 80px;
}

.motorIcon {
    position: absolute;
    left: 800px;
    top: 250px;
}

.visionIcon {
    position: absolute;
    left: 610px;
    top: 200px;
}

.airPressureIcon {
    position: absolute;
    left: 490px;
    top: 480px;
}


/* .conveyorIcon1{
    position: absolute;
    left: 150px;
    top: -10px;
}

.cpuIcon1{
    position: absolute;
    left: 435px;
    top: 270px;
}

.gpuIcon1{
    position: absolute;
    left: 480px;
    top: 240px;
}

.panelIcon1{
    position: absolute;
    left: 525px;
    top: 220px;
}

.leftCamIcon1{
    position: absolute;
    left: 680px;
    top: 155px;
}

.rightCamIcon1{
    position: absolute;
    left: 760px;
    top: 155px;
}

.motorIcon1{
    position: absolute;
    left: 860px;
    top: 280px;
}

.visionIcon1{
    position: absolute;
    left: 600px;
    top: 340px;
}

.airPressureIcon1{
    position: absolute;
    left: 480px;
    top: 480px;
} */
.icon-heading {
    position: absolute;
    top: -10px;
    left: -2px;
    font-size: 14px;
    /* font-weight: bold; */
    color: white;
    white-space: nowrap;
}

.eject-reject {
    position: absolute;
    left: 10px;
    top: 500px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 90%;
    max-width: 320px;
    justify-content: center;
    z-index: 5;
    display: none;
}

.eject-reject span {
    /* font-size:xx-large; */
    margin-left: 10px;
}

.rightSide {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.conveyorDot,
.cpuDot,
.gpuDot,
.panelDot,
.visionDot,
.cameraDot,
.airPressureDot,
.motorDot {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: 145px;
    left: 120px;
    z-index: 5;
    transition: all 0.3s ease-in-out;
}

.cpuDot {
    left: 435px;
    top: 250px;
}

.gpuDot {
    left: 480px;
    top: 228px;
}

.panelDot {
    left: 525px;
    top: 200px;
}

.visionDot {
    left: 550px;
    top: 310px;
}

.cameraDot {
    left: 640px;
    top: 262px;
}

.airPressureDot {
    left: 500px;
    top: 420px;
}

.motorDot {
    left: 805px;
    top: 320px;
}

.polyWarningDot {
    background-color: rgb(238, 124, 17);
    box-shadow: 0 0 8px 2px rgb(238, 124, 17);
    animation: glowWarning 1.5s infinite alternate;
}

.polyErrorDot {
    background-color: red;
    box-shadow: 0 0 8px 2px red;
    animation: glowError 1.5s infinite alternate;
}

@keyframes glowWarning {
    0% {
        box-shadow: 0 0 8px 2px rgb(238, 124, 17);
        transform: scale(1);
    }

    100% {
        box-shadow: 0 0 10px 5px rgb(238, 124, 17);
        transform: scale(1.1);
    }
}

@keyframes glowError {
    0% {
        box-shadow: 0 0 8px 2px red;
        transform: scale(1);
    }

    100% {
        box-shadow: 0 0 10px 5px red;
        transform: scale(1.1);
    }
}

@keyframes scaleDown {
    from {
        transform: scale(1.5);
        transform-origin: right center;
    }

    to {
        transform: scale(1);
        transform-origin: center;
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
        transform-origin: right bottom;
    }

    100% {
        transform: scale(1.6);
        transform-origin: right bottom;
    }
}

@keyframes rollImg1res1 {
    0% {
        left: 200px;
        top: 45px;
        visibility: visible;
    }

    20% {
        visibility: hidden;
    }

    60% {
        visibility: hidden;
    }

    100% {
        left: 800px;
        top: 400px;
        visibility: visible;
    }
}

@keyframes rollImg2res1 {
    0% {
        left: 140px;
        top: 80px;
        visibility: visible;
    }

    20% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    100% {
        left: 750px;
        top: 480px;
        visibility: visible;
    }
}

@keyframes rollImg1res2 {
    0% {
        left: 100px;
        top: 15px;
        z-index: 3;
        visibility: visible;
    }

    22% {
        visibility: hidden;
    }

    60% {
        visibility: hidden;
    }

    100% {
        left: 520px;
        top: 245px;
        z-index: 3;
        visibility: visible;
    }
}

@keyframes rollImg2res2 {
    0% {
        left: 78px;
        top: 55px;
        visibility: visible;
    }

    22% {
        visibility: hidden;
    }

    60% {
        visibility: hidden;
    }

    100% {
        left: 500px;
        top: 305px;
        visibility: visible;
    }
}

.containner {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: gainsboro;
}

.containner .navbar {
    width: 260px;
    height: 100vh;
    background-color: rgb(21, 21, 44);
    position: fixed;
    text-align: center;
    color: white;
    padding-top: 250px;
    top: 0px;
    left: 0px;
}

.containner .imgContainner {
    display: flex;
    margin: auto;
    flex-direction: column;
    text-align: right;
    position: relative;
}

.containner .imgContainner .suka {
    background-color: aqua;
    width: 1060px;
    background-color: #1b2531;
    transition: transform 2s;
}

.containner .machineDetails {
    padding-left: 260px;
    background-color: #1b2531;
    width: 100%;
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow: hidden;
}

.containner .machineDetails .machineName h4 {
    margin: 10px;
    background: linear-gradient(60deg, #26c6da, #00acc1);
    text-align: center;
    padding: 15px 0px;
    color: white;
    border-radius: 5px;
}


.containner .machineDetails .machineInfo {
    display: flex;
}

.containner .machineDetails .machineInfo div {
    border-radius: 5px;
    margin: 10px;
}

.containner .machineDetails .machineInfo .machineImg {
    padding: 10px;
    text-align: center;
    height: fit-content;
}

.containner .machineDetails .machineInfo .machineImg img {
    width: 200px;
}

.containner .machineDetails .machineInfo .machineSessionInfo {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    flex-grow: 1;
}

.containner .machineDetails .machineInfo .machineSessionInfo div {
    margin: 10px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: 100;
}

.containner .machineDetails .machineInfo .machineSessionInfo div img {
    height: 30px;
}

.machineLogHeading {
    margin: 10px;
    background: linear-gradient(60deg, #26c6da, #00acc1);
    text-align: center;
    padding: 15px 0px;
    color: white;
    border-radius: 5px;
}

.sukaContainer {
    overflow: hidden;
}

@media screen and (max-width: 1417px) {
    .containner .imgContainner .suka {
        width: 700px;
        overflow: scroll;
    }

    .containner .imgContainner {
        margin-top: 15%;
    }

    .containner .machineDetails .imgContainner .svgRes4 {
        display: none;
    }

    .containner .machineDetails .imgContainner .svgRes5 {
        display: block;
    }

    .imgRoll1,
    .imgRoll3,
    .imgRoll5,
    .imgRoll7 {
        left: 100px;
        top: 15px;
        height: 40px;
        z-index: 5;
        animation: rollImg1res2 10s infinite;
    }

    .imgRoll1 {
        animation-delay: 1s;
    }

    .imgRoll5 {
        animation-delay: 2s;
    }

    .imgRoll2,
    .imgRoll4,
    .imgRoll6,
    .imgRoll8 {
        left: 78px;
        top: 55px;
        height: 40px;
        z-index: 5;
        animation: rollImg2res2 10s infinite;
    }

    .imgRoll3 {
        animation-delay: 3.3s;
    }

    .imgRoll4 {
        animation-delay: 4.8s;
    }

    .imgRoll2 {
        animation-delay: 3s;
    }

    .imgRoll6 {
        animation-delay: 3s;
    }

    .eject-reject {
        position: absolute;
        left: 0px;
        top: 380px;
    }

    .nonFiredCount {
        left: 485px;
        bottom: 250px;
    }

    .gpuTemperature {
        top: 8px;
        left: 265px;
        z-index: 5;
    }

    .cpuTemperature {
        top: 8px;
        left: 245px;
        z-index: 5;
    }

    .containner .machineDetails {
        width: 100%;
        height: 100vh !important;
    }

    .conveyorSpeed {
        left: -52px;
        top: 25px;
        z-index: 5;
    }

    .motorAmpere {
        left: 565px;
        top: 126px;
    }

    .airPressure {
        left: 200px;
        top: 320px;
    }

    .panelTemperature {
        top: -25px;
        left: 285px;
    }

    .visionTemperature {
        width: fit-content;
        left: 280px;
        top: 220px;
    }

    .leftCamTemperature {
        left: 400px;
        top: 50px;
    }

    .rightCamTemperature {
        left: 480px;
        top: 15px;
    }

    .panelText tspan {
        font-size: 12px;
    }

    /* .icons1 {
        bottom: -240px; 
        left: -100px; 
        width: 90%;
        max-width: 300px; 
        gap: 30px; 
        flex-wrap: wrap;  
        justify-content: center;
        z-index: 5;
    }

    .icons1 div {
        width: 40px; 
        height: 40px;
        padding: 10px;
    } */

    .conveyorDot,
    .cpuDot,
    .gpuDot,
    .panelDot,
    .visionDot,
    .cameraDot,
    .airPressureDot,
    .motorDot {
        height: 8px;
        width: 8px;
        top: 90px;
        left: 80px;
    }

    .cpuDot {
        left: 285px;
        top: 170px;
    }

    .gpuDot {
        left: 320px;
        top: 150px;
    }

    .panelDot {
        left: 348px;
        top: 135px;
    }

    .visionDot {
        left: 360px;
        top: 200px;
    }

    .cameraDot {
        left: 420px;
        top: 168px;
    }

    .airPressureDot {
        left: 335px;
        top: 275px;
    }

    .motorDot {
        left: 535px;
        top: 215px;
    }

    .imgConveyor,
    .imgVision,
    .imgMotor,
    .imgAirPressure,
    .imgCam {
        height: 40px;
        width: 40px;
    }

    .imgCpu,
    .imgGpu,
    .imgPanel {
        height: 30px;
        width: 30px;
    }


    .conveyorIcon {
        position: absolute;
        left: 80px;
        top: -20px;
    }

    .cpuIcon {
        position: absolute;
        left: 265px;
        top: 120px;
    }

    .gpuIcon {
        position: absolute;
        left: 299px;
        top: 105px;
    }

    .panelIcon {
        position: absolute;
        left: 330px;
        top: 95px;
    }

    .leftCamIcon {
        position: absolute;
        left: 420px;
        top: 0px;
    }

    .rightCamIcon {
        position: absolute;
        left: 500px;
        top: 0px;
    }

    .motorIcon {
        position: absolute;
        left: 530px;
        top: 160px;
    }

    .visionIcon {
        position: absolute;
        left: 410px;
        top: 200px;
    }

    .airPressureIcon {
        position: absolute;
        left: 320px;
        top: 320px;
    }

    /* .icons1 div img {
        width: 30px;
        height: 30px;
    } */
    .containner .machineDetails .imgContainner .box {
        width: 220px;
        height: 211px;
        clip-path: polygon(40% 0, 97% 30%, 78% 44%, 83% 72%, 0 31%);
        top: 43px;
        left: 72px;
        rotate: 5deg;
        background-image: repeating-linear-gradient(90deg,
                gray 0%,
                gray 10%,
                transparent 10%,
                transparent 20%);
    }

    .containner .machineDetails .imgContainner .box2 {
        width: 150px;
        height: 100px;
        clip-path: polygon(62% 0, 93% 26%, 25% 85%, 0 51%);
        background-color: transparent;
        position: absolute;
        top: 240px;
        left: 408px;
        background-image: repeating-linear-gradient(90deg,
                gray 0%,
                gray 10%,
                transparent 10%,
                transparent 20%);
    }
}

@media screen and (min-width: 960px) and (max-width: 1200px) {

    /* .eject-reject{
        margin-top: 40px;
    } */
    /* .containner .machineDetails .imgContainner .icons1 {
        bottom: -250px; 
        left: -20px; 
        width: 90%;
        max-width: 300px; 
        gap: 30px; 
        flex-wrap: wrap;  
        justify-content: center;
        z-index: 5;
    }

    .icons1 div {
        width: 40px; 
        height: 40px;
        padding: 10px;
    }

    .icons1 div img {
        width: 30px; 
        height: 30px;
    } */
    .nonFiredCount {
        left: 500px;
    }
}

@media screen and (max-width: 960px) {
    .containner .navbar {
        display: none;
    }

    .containner .machineDetails {
        padding-left: 0px;
    }

    .nonFiredCount {
        left: 500px;
    }

    /* .icons1 {
        bottom: -240px; 
        left: -100px; 
        max-width: 400px; 
        gap: 15px; 
    }
    .icons1 div {
        width: 50px; 
        height: 50px;
    }
    .icons1 div img {
        width: 30px; 
        height: 30px;
    } */

}

@media screen and (width: 1024px) and (height: 600px) {
    .containner .imgContainner .suka {
        position: absolute;
        left: -250px;
        top: -100px;
        width: 450px;
    }

    .containner .machineDetails .imgContainner .svgRes5 {
        display: none;
    }

    .containner .machineDetails .imgContainner .svgRes6 {
        display: block;
    }

    .gpuTemperature {
        top: -105px;
        left: 25px;
    }

    .cpuTemperature {
        top: 88px;
        left: -200px;
    }

    .conveyorSpeed {
        left: -302px;
        top: -100px;
    }

    .motorAmpere {
        left: 85px;
        top: -26px;
    }

    .airPressure {
        left: -100px;
        top: 92px;
    }

    .panelTemperature {
        top: -105px;
        left: 25px;
    }

    .visionTemperature {
        left: 0px;
        top: 30px;
    }

    .leftCamTemperature {
        left: 30px;
        top: -95px;
    }

    .conveyorDot,
    .cpuDot,
    .gpuDot,
    .panelDot,
    .visionDot,
    .cameraDot,
    .airPressureDot,
    .motorDot {
        height: 8px;
        width: 8px;
        top: -42px;
        left: -190px;
        background-color: red;
    }

    .cpuDot {
        left: -65px;
        top: 8px;
    }

    .gpuDot {
        left: -45px;
        top: -2px;
    }

    .panelDot {
        left: -25px;
        top: -13px;
    }

    .visionDot {
        left: -15px;
        top: 28px;
    }

    .cameraDot {
        left: 18px;
        top: 8px;
    }

    .airPressureDot {
        left: -35px;
        top: 80px;
    }

    .motorDot {
        left: 95px;
        top: 35px;
    }

    .eject-reject {
        position: absolute;
        top: -80px;
        left: 140px;
        display: block;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
        width: 200px;
        display: flex;
        justify-content: flex-start;
    }

    .containner .machineDetails .imgContainner .box {
        width: 125px;
        height: 90px;
        clip-path: polygon(39% 0%, 106% 38%, 61% 151%, 77% 91%, 0% 38%);
        left: -200px;
        top: -68px;
        background-image: repeating-linear-gradient(90deg,
                gray 0%,
                gray 10%,
                transparent 10%,
                transparent 20%);
    }

    .containner .machineDetails .imgContainner .box2 {
        width: 125px;
        height: 62px;
        clip-path: polygon(50% 0, 70% 20%, 18% 81%, 0 62%);
        background-color: transparent;
        position: absolute;
        top: 53px;
        left: 8px;
        background-image: repeating-linear-gradient(90deg,
                gray 0%,
                gray 10%,
                transparent 10%,
                transparent 20%);
    }

    .imgRoll1,
    .imgRoll2,
    .imgRoll3,
    .imgRoll4,
    .imgRoll5,
    .imgRoll6,
    .imgRoll7,
    .imgRoll8 {
        left: -175px;
        top: -65px;
        height: 20px;
        z-index: 10;
        animation: rollImgres4 10s infinite;
    }

    .imgRoll2 {
        animation-delay: 2s;
    }

    .imgRoll3 {
        animation-delay: 2.8s;
    }

    .imgRoll4 {
        animation-delay: 3.6s;
    }

    .imgRoll5 {
        animation-delay: 4.2s;
    }

    .imgRoll6 {
        animation-delay: 5.2s;
    }

    .imgRoll7 {
        animation-delay: 6s;
    }

    .imgRoll8 {
        animation-delay: 6.8s;
    }
}

@keyframes rollImgres4 {
    0% {
        left: -175px;
        top: -65px;
    }

    20% {
        visibility: hidden;
    }

    55% {
        visibility: hidden;
    }

    100% {
        left: 70px;
        top: 80px;
    }
}


@media screen and (max-width: 700px) {
    .containner .imgContainner {
        width: 100%;
    }

    .containner .navbar {
        display: none;
    }

    .machineSessionInfo {
        flex-direction: column;
    }

    .containner .machineDetails {
        margin-left: 0px;
    }

    .containner .machineDetails .machineInfo {
        flex-direction: column;
    }

    .leftCamTemperature {
        width: 10px;
        left: 400px;
        top: 3px;
    }

    .rightCamTemperature {
        top: 3px;
    }

    /* .icons1 {
        position: absolute;
        bottom: -50px;
        left: 10px;
        display: flex;
        flex-wrap: wrap; 
        gap: 20px;  
        width: 80%; 
        max-width: 300px; 
        justify-content: center;
    
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 10px; 
        padding: 15px; 
        background: rgba(0, 0, 0, 0.3); 
        backdrop-filter: blur(5px); 
    }
    
    .icons1 div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        width: 60px;  
        height: 60px;
        color: white;
    }
    
    .icons1 div img {
        width: 40px;
        height: 40px;
    } */

}

@media screen and (min-width:300px) and (max-width:500px) {
    .containner .imgContainner .suka {
        width: 300px;
        margin-left: 10%;
    }

    .containner .machineDetails .imgContainner .svgRes5 {
        display: none;
    }

    .containner .imgContainner {
        height: fit-content;
        position: relative;
        margin-bottom: 0px;
    }

    .machine-top-data {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        padding: 5px;
    }

    .machine-top-data>div {
        width: 20%;
        min-width: 70px;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    }

    .svgRes3 {
        margin-left: 10%;
        display: block !important;
    }

    .containner .machineDetails .imgContainner .box {
        width: 85px;
        height: 110px;
        clip-path: polygon(37% 0, 103% 24%, 80% 38%, 84% 58%, 0 26%);
        left: 72px;
        top: 18px;
        background-image: repeating-linear-gradient(90deg,
                gray 0%,
                gray 10%,
                transparent 10%,
                transparent 20%);
    }

    .containner .machineDetails .imgContainner .box2 {
        width: 75px;
        height: 48px;
        clip-path: polygon(62% 0, 93% 26%, 25% 85%, 0 51%);
        background-color: transparent;
        position: absolute;
        top: 100px;
        left: 208px;
        background-image: repeating-linear-gradient(90deg,
                gray 0%,
                gray 10%,
                transparent 10%,
                transparent 20%);
    }

    .conveyorDot,
    .cpuDot,
    .gpuDot,
    .panelDot,
    .visionDot,
    .cameraDot,
    .motorDot,
    .airPressureDot,
    .cpuIcon, .conveyorIcon, .gpuIcon, .panelIcon, .motorIcon, .leftCamIcon, .rightCamIcon, .motorIcon, .airPressureIcon {
        display: none;
    }

    .imgRoll1,
    .imgRoll2,
    .imgRoll3,
    .imgRoll4,
    .imgRoll5,
    .imgRoll6,
    .imgRoll7,
    .imgRoll8 {
        left: 75px;
        top: 10px;
        height: 20px;
        z-index: 10;
        animation: rollImgres3 10s infinite;
        /* visibility: hidden; */
    }

    .imgRoll2 {
        animation-delay: 1s;
    }

    .imgRoll3 {
        animation-delay: 3s;
    }

    .imgRoll4 {
        animation-delay: 6s;
    }

    .imgRoll8 {
        animation-delay: 9s;
    }

    .imgRoll5 {
        animation-delay: 12s;
    }

    .imgRoll6 {
        animation-delay: 15s;
    }

    .imgRoll7 {
        animation-delay: 18s;
    }

    .eject-reject {
        position: absolute;
        top: -30px;
        left: 20px;
        display: block;
    }

    .eject {
        position: absolute;
        top: 160px;
        left: -10px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
        width: 120px;
        display: flex;
        justify-content: flex-start;
    }

    .reject {
        position: absolute;
        left: 185px;
        top: 40px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
        width: 148px;
        display: flex;
        justify-content: flex-start;
    }

    .reject span,
    .eject span {
        font-size: 15px;
    }

    .iconsFinal {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
    }

    .iconsFinal>div {
        width: calc(25% - 20px);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .cpuIcon1 span, .gpuIcon1 span{
        margin-left: 8px;
    }
    .icon-heading {
        position: relative;
        top: 0px;
        font-size: 15px;
        color: white;
    }

    .conveyorIcon1,
    .cpuIcon1,
    .gpuIcon1,
    .panelIcon1,
    .airPressureIcon1,
    .motorIcon1,
    .leftCamIcon1,
    .visionIcon1,
    .rightCamIcon1 {
        width: 60px;
        height: 60px;
    }

    .iconsFinal p {
        color: white;
        font-size: 15px;
    }

    .imgConveyor,
    .imgCpu,
    .imgGpu,
    .imgPanel,
    .imgVision,
    .imgCam,
    .imgAirPressure,
    .imgMotor {
        height: 30px;
        width: 30px;
    }

    .imgConveyor {
        margin-left: 10px;
    }

    .firedCount,
    .nonFiredCount,
    .cpuTemperature,
    .gpuTemperature,
    .conveyorSpeed,
    .motorAmpere,
    .visionTemperature,
    .panelTemperature,
    .leftCamTemperature,
    .rightCamTemperature {
        visibility: hidden;
    }
}

@keyframes rollImgres3 {
    0% {
        left: 75px;
        top: 10px;
    }

    20% {
        visibility: hidden;
    }

    65% {
        visibility: hidden;
    }

    100% {
        left: 240px;
        top: 110px;
    }
}

/* .box {
    width: 266px;
    height: 157px;
    clip-path: polygon(59% 2%, 107% 37%, 100% 95%, 4% 29%);
    background-color: transparent;
    position: absolute;
    top: 56px;
    left: 100px;
    background-image: repeating-linear-gradient(90deg,
            gray 0%,
            gray 10%,
            transparent 10%,
            transparent 20%);
    background-size: 40px 100%;
    animation: moveDashes 1s linear infinite;
    z-index: 2;
} */


.box {
    width: 383px;
    height: 237px;
    clip-path: polygon(38% 0, 87% 46%, 69% 63%, 69% 100%, 0 34%);

    background-color: transparent;
    position: absolute;
    top: 68px;
    left: 108px;
    background-image: repeating-linear-gradient(90deg,
            gray 0%,
            gray 10%,
            transparent 10%,
            transparent 20%);
    background-size: 30px 100%;
    animation: moveDashes 1s linear infinite;
    z-index: 2;
}

.box2 {
    width: 250px;
    height: 150px;
    clip-path: polygon(62% 0, 88% 26%, 26% 82%, 0 57%);
    background-color: transparent;
    position: absolute;
    top: 360px;
    left: 608px;
    background-image: repeating-linear-gradient(90deg,
            gray 0%,
            gray 10%,
            transparent 10%,
            transparent 20%);
    background-size: 30px 100%;
    animation: moveDashes 1s linear infinite;
    z-index: 2;
}

/* .svgRes1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1160px;
    height: 572px;
    z-index: 3;
} */



.svgRes4 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1160px;
    height: 714px;
    z-index: 3;
}

.svgRes5 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1160px;
    height: 572px;
    z-index: 3;
    display: none;
}

.svgRes6 {
    position: absolute;
    left: -250px;
    top: -100px;
    width: 1160px;
    height: 572px;
    z-index: 3;
    display: none;
}

/* .svgRes2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 700px;
    height: 345px;
    z-index: 4;
    display: none;
} */
.svgRes3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 200px;
    z-index: 3;
    display: none;
}

.poly {
    transition: stroke 0.5s ease-in-out, stroke-width 0.5s, fill 0.5s;
    animation: moveDashes 2s linear infinite;
}

.poly:hover {
    cursor: pointer;
}

.polyError {
    transition: stroke 0.5s ease-in-out, stroke-width 0.5s, fill 0.5s;
    /* stroke: rgb(255, 0, 0);
    stroke-width: 2px; */
}

.polyWarning {
    transition: stroke 0.5s ease-in-out, stroke-width 0.5s, fill 0.5s;
    /* stroke: rgb(238, 124, 17);
    stroke-width: 4px; */
}

.machineStop {
    transition: stroke 0.5s ease-in-out, stroke-width 0.5s, fill 0.5s;
    /* stroke: white;
    stroke-width: 2px; */
}

.iconWarning{
    animation: warningBlink 0.6s ease-in-out infinite;
}
.iconError{
    animation: errorBlink 0.4s ease-in-out infinite;
}

@keyframes warningBlink {
    0% {
        scale: 0.8;
    }

    100% {
        scale: 1.2;
    }
}

@keyframes errorBlink {
    0% {
        scale: 0.8;
    }

    100% {
        scale: 1.2;
    }
}

@keyframes moveDashes {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 40px 0;
    }
}